* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.nav-lateral {
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: #f5f5f5;
    padding: 20px;
}

.nav-lateral .profile {
    margin-bottom: 20px;
    font-size: 1.1em;
    text-align: center;
}

.nav-lateral .profile p {
    margin: 0;
}

.nav-lateral .menu {
    display: flex;
    flex-direction: column;
}

.nav-lateral .menu a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 1em;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-lateral .menu a i {
    margin-right: 10px;
    font-size: 1.2em;
}

.nav-lateral .menu a:hover {
    background-color: #727171;
}

.nav-lateral .exit {
    text-align: center;
    margin-top: 20px;
}

.nav-lateral .exit p {
    color: #f5f5f5;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-lateral .exit p:hover {
    background-color: #e25555;
}

.content {
    width: 100%;
    display: flex;
    text-align: center;
}

.users {
    flex: 1;
    padding: 20px;
    background-color: #FFFAFF;
}

.users h1 {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.search-user {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.search-user h2 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 200;
}

.search-user input {
    width: 150px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 15px;
    outline: none;
    font-size: 14px;
    transition: all 0.3s ease;
}

.search-user input:focus {
    border-color: #ccc;
    box-shadow: 0 0 5px rgba(187, 194, 196, 0.5);
}

.search-user a {
    background-color: #16A34A;
    color: white;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.search-user a:hover {
    background-color: #3cd875;
}

.search-user a i {
    font-size: 18px;
}

.add-user button {
    background-color: #16A34A;
    width: 190px;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.add-user button:hover {
    background-color: #3cd875;
}

.add-user button i {
    font-size: 16px;
}

.table-users {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    cursor: pointer;
}

.table-users th,
.table-users td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

.table-users th {
    background-color: #16A34A;
    color: white;
    text-align: center;
}

.table-users td {
    text-align: center;
}

.table-users tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-users tr:hover {
    background-color: #ddd;
}

.table-users td {
    border-bottom: 1px solid #dee2e6;
}

.status {
    font-weight: bold;
    padding: 5px 12px;
    border-radius: 15px;
    text-align: center;
    display: inline-block;
}

.status.ativo {
    background-color: #a1c4c7;
    color: #41c2cf;
}

.status.inativo {
    background-color: #ae97bd;
    color: #8b2ac8;
}

.role,
.profile {
    font-weight: bold;
    color: #495057;
    background-color: #d8e3e7;
    padding: 5px 10px;
    border-radius: 15px;
    text-align: center;
}

.action-buttons {
    display: flex;
    gap: 10px;
}

.action-buttons .edit,
.action-buttons .delete {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
}

.action-buttons .edit {
    background-color: #007bff;
}

.action-buttons .edit:hover {
    background-color: #8b2ac8;
}

.action-buttons .delete {
    background-color: #dc3545;
}

.action-buttons .delete:hover {
    background-color: #c82333;
}

button {
    background-color: #16A34A;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #1e7c38;
}

form input, form select{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 1rem;
    color: #262626;
    outline: none;
    transition: border-color 0.3s;
}

form input:focus, form select:focus {
    border-color: #16A34A;
}

.add-modal, .update-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.add-modal .container, .update-modal .container {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
}

.add-modal .fa-xmark, .update-modal .fa-xmark {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: #262626;
}