* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.nav-lateral {
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: #f5f5f5;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: flex-start; */
    /* position: fixed; */
    padding: 20px;
}

.nav-lateral .profile {
    margin-bottom: 20px;
    font-size: 1.1em;
    text-align: center;
}

.nav-lateral .profile p {
    margin: 0;
}

.nav-lateral .menu {
    display: flex;
    flex-direction: column;
}

.nav-lateral .menu a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 1em;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-lateral .menu a i {
    margin-right: 10px;
    font-size: 1.2em;
}

.nav-lateral .menu a:hover {
    background-color: #b9adad;
}

.nav-lateral .exit {
    text-align: center;
    margin-top: 20px;
}

.nav-lateral .exit p {
    color: #f5f5f5;
    font-size: 1em;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-lateral .exit p:hover {
    background-color: #cfc4c4;
}

.content {
    width: 100%;
    display: flex;
    text-align: center;
}

.users {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.users h1 {
    font-size: 24px;
    color: #8b2ac8;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Barra de busca e botão de adicionar */
.search-user {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

.search-user h2 {
    font-size: 18px;
    margin: 0;
    color: #474444;
    font-weight: 200;
}

.search-user input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 25px;
    outline: none;
    font-size: 14px;
    transition: all 0.3s ease;
}

.search-user input:focus {
    border-color: #cccccc;
    box-shadow: 0 0 5px rgba(187, 194, 196, 0.5);
}

.search-user a {
    background-color: #2cc4d4;
    color: white;
    padding: 10px 12px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    
}

.search-user a:hover {
    background-color: #0798a8;
    transform: scale(1.1);
}

.search-user a i {
    font-size: 18px;
}



/* Botão de adicionar usuário */
.add-user button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s ease;
}

.add-user button:hover {
    background-color: #218838;
}

.add-user button i {
    font-size: 16px;
}

/* Tabela de usuários */
.table-users {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    cursor: pointer;
}

.table-users th, .table-users td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

.table-users th {
    background-color: #1999a5;
    color: white;
    text-align: center;
}

.table-users td {
    text-align: center;
}

.table-users tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-users tr:hover {
    background-color: #ddd;
}
.table-users td {
    border-bottom: 1px solid #dee2e6;
}

/* Estilos para o status do usuário */
.status {
    font-weight: bold;
    padding: 5px 12px;
    border-radius: 15px;
    text-align: center;
    display: inline-block;
}

.status.ativo {
    background-color: #a1c4c7;
    color: #41c2cf;
}

.status.inativo {
    background-color: #ae97bd;
    color: #8b2ac8;
}

/* Função e perfil */
.role,
.profile {
    font-weight: bold;
    color: #495057;
    background-color: #d8e3e7;
    padding: 5px 10px;
    border-radius: 15px;
    text-align: center;
}

/* Botões de ação */
.action-buttons {
    display: flex;
    gap: 10px;
}

.action-buttons .edit,
.action-buttons .delete {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
}

.action-buttons .edit {
    background-color: #007bff;
}

.action-buttons .edit:hover {
    background-color: #8b2ac8;
}

.action-buttons .delete {
    background-color: #dc3545;
}

.action-buttons .delete:hover {
    background-color: #c82333;
}

.add-modal, .update-modal {
    position: fixed;
    top: 0;
    left: 250px;
    width: 82%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    justify-content: center;
    align-items: center;

    .container {
        background-color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 400px;
        height: 400px;
        border-radius: 15px;
        justify-content: center;
        padding: 10px;

        i {
            cursor: pointer;
            margin-left: 10px;
            text-align:left;
            font-size: 30px;
        }

        h2 {
            margin-bottom: 10px;
        }

        form {
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            input,
            select {
                padding: 5px;
                border: solid black 1px;
                outline: none;
                border-radius: 15px;
                height: 30px;
                width: 50%;

                option {
                    background-color: white;
                    color: black;
                }
            }

            button {
                width: 150px;
                background-color: #16a34a;
                border: none;
                outline: none;
                height: 30px;
                border-radius: 49px;
                color: #fff;
                text-transform: uppercase;
                font-weight: 600;
                margin: 10px 0;
                cursor: pointer;
                transition: 0.5s;
            }

            button:hover {
                background-color: rgb(0, 66, 24);
            }


            
        }
    }
}