*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.content {
    width: 100%;
    display: flex;
    text-align: center;
}

.users{
    width: 100%;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.nav-lateral {
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* position: fixed; */
    padding: 20px;
}

.nav-lateral .profile {
    margin-bottom: 20px;
    font-size: 1.1em;
    text-align: center;
}

.nav-lateral .profile p {
    margin: 0;
}

.nav-lateral .menu {
    display: flex;
    flex-direction: column;
}

.nav-lateral .menu a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 1em;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-lateral .menu a i {
    margin-right: 10px;
    font-size: 1.2em;
}

.nav-lateral .menu a:hover {
    background-color: #444;
}

.nav-lateral .exit {
    text-align: center;
    margin-top: 20px;
}

.nav-lateral .exit p {
    color: #f5f5f5;
    font-size: 1em;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-lateral .exit p:hover {
    background-color: #444;
}
