* {
  box-sizing: border-box;
}

.profile p {
  color: #f5f5f5;
}

h1 {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #f5f5f5;
  font-weight: normal;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.container {
  display: flex;
}

.nav-lateral {
  
  width: 250px;
  height: 100vh;
  background-color: #333;
  color: #f5f5f5;
  padding: 20px;
  transition: transform 0.3s ease;
  z-index: 999;
  position: fixed;
}

.nav-lateral.hidden {
  transform: translateX(-100%);
}

.menu{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
}

.menu a {

  list-style: none;
  color: #f5f5f5;
    text-decoration: none;
    font-size: 1em;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.nav-lateral .menu a i {
  margin-right: 10px;
  font-size: 1.2em;
}
.nav-lateral .menu a:hover {
  background-color: #b9adad;
}


.role,
.profile p{
    font-weight: bold;
    color: #495057;
    background-color: #d8e3e7;
    padding: 5px 10px;
    border-radius: 15px;
    text-align: center;
}

.menu a:hover {
  color: #ffffff;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburguer {
  cursor: pointer;
  font-size: 24px;
}

.kpi {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  height: 100px;
}

.box1 {
  display: flex;
  width: 240px;
  height: 100%;
  border-radius: 7px;
  background: linear-gradient(90deg, rgba(113, 5, 172, 1) 0%, rgba(163, 49, 226, 1) 100%);
}

.box1-icone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
}

.box1-conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}



.box2 {
  display: flex;
  width: 240px;
  height: 100%;
  border-radius: 7px;
  background: linear-gradient(90deg, rgba(5, 144, 172, 1) 0%, rgba(49, 217, 226, 1) 100%);
}

.box2-icone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
}

.box2-conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}


.box3 {
  display: flex;
  width: 240px;
  height: 100%;
  border-radius: 7px;
  background: linear-gradient(90deg, rgb(220, 143, 42) 0%, rgb(255, 179, 0) 100%);
}

.box3-icone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
}

.box3-conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

#grafico1 {
  width: 100%;
  height: 200px;

}

#grafico2 {
  width: 100%;
  height: 200px;

}

#grafico3 {
  margin-left: 200px; 
  display: flex;
  align-items: center;
  width: 100%;
  height: 200px;

}

#estatistica-fm {
  width: 300px;
  height: 65%;
  border-radius: 5px;
  border: 1px solid;
}

#estatistica-fm p {
  color: #333;
  text-align: center;
}

.feminino {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px;
  width: 100%;
  height: 25px;
}

.feminino p {
  margin: 0;
  padding: 0;
  color: #333;
}

.masculino {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 25px;

}

.masculino p {
  margin: 0;
  padding: 0;
  color: #333;
}

.masculino img {
  padding-left: 5px;
}

.dashboard,
.insights,
.configuracoes {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.desempenho {
  padding-left: 10px;
  width: 600px;
  height: auto;
  border: 1px solid #333;
  border-radius: 5px;
}

.desempenho-2 {
  margin-top: 5px;
  padding-left: 10px;
  width: 600px;
  height: auto;
  border: 1px solid #333;
  border-radius: 5px;
}

.desempenho-3 {
  margin-top: 5px;
  padding-left: 10px;
  width: 600px;
  height: auto;
  border: 1px solid #333;
  border-radius: 5px;
}

.desempenho-4 {
  margin-top: 5px;
  padding-left: 10px;
  width: 600px;
  height: auto;
  border: 1px solid #333;
  border-radius: 5px;
}

.configuracoes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 40px);
  flex-grow: 1;
  box-sizing: border-box;
  overflow-x: hidden;
}


.box-config {
  /* display: flex;
  flex-direction: column; */
  width: 50%;
  height: 40%;
  border-radius: 10px;
  background: linear-gradient(90deg, rgba(5, 144, 172, 1) 0%, rgba(49, 217, 226, 1) 100%);
  box-shadow: 3px 3px 15px rgba(19, 18, 18, 0.2);

}

.box-config .organization {
  display: flex;
  height: 60%;
  align-items: center;


}

.box-config .exit-user {
  height: 20%;
  width: 100%;
  text-align: right;

  img {
    width: 30px;
    margin-right: 10px;
    margin-top: 10px;
  }

}

.img_alt {
  cursor: pointer;
}


.user-left {
  display: flex;
  width: 35%;
  height: 100%;
  border-radius: 5px;
  background-color: white;
  margin-left: 30px;
  justify-content: center;
  align-items: center;
}

.user-left .icon {
  background-image: url('../assets/nexus/icon-violet.png');
  width: 90px;
  min-height: 90px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.box-config .text-right {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  color: white;
  flex-direction: column;

}

.button-radio h4 {
  margin-bottom: 5px;
}

.button-radio p {
  margin-top: 0;
}

.button-radio input[type="radio"] {
  margin-right: 5px;
}

.exit {
  cursor: pointer;
  width: 100%;
  height: 150px;
}

.exit p {
  color: #f5f5f5;
  font-size: 16px;
}