* {
  box-sizing: border-box;
}
.profile p{
color: #f5f5f5;
}
h1{
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #f5f5f5;
  font-weight: normal;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.container {
  display: flex;
}

.nav-lateral {
  width: 250px;
  background-color: #28252d;
  padding: 20px;
  transition: transform 0.3s ease;
  position: relative;
}

.nav-lateral.hidden {
  transform: translateX(-100%);
}

.menu li {
  list-style: none;
  color: #f5f5f5;
  padding: 10px 0;
  cursor: pointer;
  transition: color 0.3s;
}

.menu li:hover {
  color: #ffffff;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburguer {
  cursor: pointer;
  font-size: 24px;
}
.kpi{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  height: 100px;
}

.box1{
  display: flex;
  width:240px ;
  height: 100%;
  border-radius: 7px;
  background: linear-gradient(90deg, rgba(113,5,172,1) 0%, rgba(163,49,226,1) 100%);
}
.box1-icone{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
}
.box1-conteudo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}



.box2{
  display: flex;
  width:240px ;
  height: 100%;
  border-radius: 7px;
  background: linear-gradient(90deg, rgba(5,144,172,1) 0%, rgba(49,217,226,1) 100%);
}
.box2-icone{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
}
.box2-conteudo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}


.box3{
  display: flex;
  width:240px ;
  height: 100%;
  border-radius: 7px;
  background: linear-gradient(90deg, rgb(220, 143, 42) 0%, rgb(255, 179, 0) 100%);
}
.box3-icone{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
}
.box3-conteudo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

#grafico1{
  width: 100%;
  height: 200px;

}
#grafico2{
  width: 100%;
  height: 200px;

}
#grafico3{
  display: flex;
  align-items: center;
  width: 100%;
  height: 200px;
  
}
#estatistica-fm{
  width: 300px;
  height: 65%;
  border-radius: 5px;
border: 1px solid;
}
#estatistica-fm p{
  color: #333;
  text-align: center;
}

.feminino{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px;
  width: 100%;
  height: 25px;
}

.feminino p{
  margin: 0;
  padding: 0;
  color: #333;
}

.masculino{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 25px;
  
}

.masculino p{
  margin: 0;
  padding: 0;
  color: #333;
}
.masculino img{
  padding-left: 5px;
}

.dashboard, .insights , .configuracoes{
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.desempenho{
  padding-left: 10px;
  width: 600px;
  height: auto;
  border: 1px solid #333;
  border-radius: 5px;
}

.desempenho-2{
  margin-top: 5px;
  padding-left: 10px;
  width: 600px;
  height: auto;
  border: 1px solid #333;
  border-radius: 5px;
}
.desempenho-3{
  margin-top: 5px;
  padding-left: 10px;
  width: 600px;
  height: auto;
  border: 1px solid #333;
  border-radius: 5px;
}

.desempenho-4{
  margin-top: 5px;
  padding-left: 10px;
  width: 600px;
  height: auto;
  border: 1px solid #333;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .nav-lateral {
      width: 200px;
  }
}

.exit{
  cursor: pointer;
   width: 100%;
   height: 30px;
 }
 .exit p{
   color: #f5f5f5;
 }