@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color: #262626;
}

/* Inicio do estilo do header */
#header {
    width: 100%;
    min-height: 100vh;
    background-image: url('../assets/nexus/menina2.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #20202085;
}

.logo {
    width: 90px;
}

.nav-login {
    position: absolute;
    right: 50px;
}

.nav-menu,
.nav-login,
.menu-item {
    display: flex;
    list-style: none;
    gap: 40px;
}

.menu-item a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.menu-item a:hover {
    color: #16A34A;
    transition: 0.5s;
}

#menu {
    z-index: 2;
    display: none;
}

#menu-bar {
    position: fixed;
    top: 0;
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}

.bar {
    height: 5px;
    width: 70%;
    background-color: #16A34A;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.nav-responsive {
    transition: 0.3s ease;
    display: none;
}

.nav-responsive ul {
    padding: 0 22px;
}

.nav-responsive li {
    list-style: none;
    padding: 12px 0;
}

.nav-responsive li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.nav-responsive li a:hover {
    font-weight: bold;
}

.menu-bg,
#menu {
    top: 10%;
    left: 0;
    position: fixed;
}

.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    background-color: rgb(22, 163, 74);
    transition: 0.3s ease;
}

.change {
    display: block;
}

.change .bar {
    background-color: white;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
    width: 520px;
    height: 100vh;
    transform: translate(-60%, -10%);
}

.header-text {
    width: 50%;
    margin: 8% 0 0 10%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.header-text h1 {
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 700;
    color: #16A34A;
}

.header-text p {
    width: 50%;
    font-size: 25px;
    font-weight: 200;
    color: #fff;
    margin: 0;
}

.header-text a {
    background-color: transparent;
    width: 20%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin-top: 5%;
    border-radius: 5px;
    color: #fff;
    border: 2px solid #16A34A;
    font-size: 15px;
}

.header-text a:hover {
    background-color: #16A34A;
    transform: translateY(-10px);
    transition: .5s;

}

/* fim do estilo do header */

.container2 {
    background-color: #262626;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    color: #FFF;
}

.text-left {
    width: 500px;
}

.text-left h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 70px;
    margin: 0;
    color: #16A34A;
}

.text-left p {
    font-size: 20px;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #333;
}

.slider h1 {
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-size: 70px;
    text-transform: uppercase;
    text-align: center;
    color: #16A33A;
    position: relative;
}

.slider h1::after {
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    background-color: #FFF;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.carrosel-container,
.carrosel-container2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 50%;
    height: auto;
    gap: 15px;
}

.carrosel-container img,
.carrosel-container2 img {
    object-fit: contain;
    width: 80px;
    animation: fadeInOut 10s ease-in-out infinite;
}

.carrosel-container img:nth-child(1) {
    animation-delay: 8s;
}

.carrosel-container img:nth-child(2) {
    animation-delay: 6s;
}

.carrosel-container img:nth-child(3) {
    animation-delay: 4s;
}

.carrosel-container img:nth-child(4) {
    animation-delay: 2s;
}

.carrosel-container2 img:nth-child(1) {
    animation-delay: 2s;
}

.carrosel-container2 img:nth-child(2) {
    animation-delay: 6s;
}

.carrosel-container2 img:nth-child(3) {
    animation-delay: 8s;
}

.carrosel-container2 img:nth-child(4) {
    animation-delay: 4s;
}


#solution {
    min-height: 100vh;
    width: 100%;
    background-color: #202020;
}

.containerSolution {
    display: flex;
    flex-direction: column;
}

.solution-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.solution-text h1 {
    font-size: 70px;
    margin-bottom: 0;
    color: #16A33A;
    text-transform: uppercase;
}

.solution-text p {
    width: 40%;
    color: #FFF;
    font-size: 18px;
}

.cards {
    color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.card {
    width: 250px;
    height: 300px;
}

.card:nth-child(even) {
    background-color: #363636;
    margin-top: 30px;
}

.card:nth-child(odd) {
    background-color: #16A34A;
}

.card:nth-child(even):hover {
    transform: translateY(-20px);
    transition: .3s;
}

.card:nth-child(odd):hover {
    transform: translateY(20px);
    transition: .3s;
}

.card:hover .card-image {
    transform: rotate(8deg);
    width: 90px;
    transition: .2s;
}

.card-image {
    width: 80px;
    margin: 30px 0 0 40px;
}

.card-text {
    margin: 0 30px 0 30px;
}

.card-text p {
    font-weight: 200;
}

.loading-div {
    width: 50px;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}

#div_erros_login {
    display: none
}

.alerta_erro {
    display: flex;
    justify-content: flex-end;
}

.card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #ED145B 3px solid;
    padding: 10px;
    margin-right: 10%;
}

.card_erro #mensagem_erro {
    font-weight: 500;
    font-size: 20px;
}

.loading-div {
    width: 50px;
    margin: auto;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}

#footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3 {
    display: flex;
    flex-direction: column;
    width: 400px;
    max-width: 200px;
    text-align: center;
}

.footer-title {
    font-size: 20px;
    color: #16A33A;
}

.footer-link {
    margin-bottom: 5px;
    color: #fff;
    text-decoration: none;
}

.footer-link:hover {
    color: #16A33A;
    font-size: 18px;
    transition: .5s;
}

.copyrigth {
    font-weight: 200;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

/* Media queries para responsividade */
@media (max-width: 768px) {
    #header {
        background-image: url('../assets/nexus/teste.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #menu {
        display: flex;
    }

    .header-text {
        width: 80%;
        margin-left: 5%;
    }

    .header-text h1 {
        font-size: 50px;
    }

    .header-text p {
        width: 60%;
        font-size: 20px;
        color: #000;
    }

    .header-text a {
        width: 40%;
        background-color: #16A33A;
    }

    .header-text a:hover {
        background-color: transparent;
    }

    .nav {
        background-color: transparent;
    }

    .nav-login {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 20px;
        gap: 20px;
    }

    .nav-menu,
    .logo {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }

    .text-left {
        text-align: center;
    }

    .img-right {
        margin-bottom: 100px;
    }

    .container2 h1,
    .containerSolution h1,
    .slider h1 {
        font-size: 50px;
    }

    .container2 p {
        font-size: 18px;
        padding: 10px;
    }

    #solution {
        height: auto;
    }

    .containerSolution p {
        font-size: 18px;
        width: 80%;
    }

    .card p {
        font-size: 15px;
        width: 100%;
    }

    .card:nth-child(even) {
        margin: 0;
    }

    .containerFooter {
        gap: 10px;
    }
}

@media (max-width: 600px) {
    #header {
        background-position: bottom;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .nav {
        background-color: transparent;
    }

    .nav-login {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 20px;
        gap: 20px;
    }

    .nav-menu,
    .logo {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }

    .header-text {
        width: 90%;
        margin-left: 5%;
    }

    .header-text h1 {
        font-size: 40px;
    }

    .header-text p {
        color: #000;
        width: 50%;
        font-size: 18px;
    }

    .header-text a {
        width: 35%;
    }

    .header-text a:hover {
        color: #FFF;
    }

    .container2 h1,
    .containerSolution h1 {
        font-size: 40px;
    }
}