@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color: #262626;
}

/* Inicio do estilo do header */
#header {
    width: 100%;
    height: 100vh;
    background-image: url('../assets/nexus/menina2.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #20202085;
}

.logo {
    width: 90px;
}

.nav-login {
    position: absolute;
    right: 50px;
}

.nav-menu,
.nav-login,
.menu-item {
    display: flex;
    list-style: none;
    gap: 40px;
}

.menu-item a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.menu-item a:hover {
    color: #16A34A;
    transition: 0.5s;
}

#menu {
    z-index: 2;
    display: none;
}

#menu-bar {
    position: fixed;
    top: 0;
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}

.bar {
    height: 5px;
    width: 70%;
    background-color: #16A34A;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.nav-responsive {
    transition: 0.3s ease;
    display: none;
}

.nav-responsive ul {
    padding: 0 22px;
}

.nav-responsive li {
    list-style: none;
    padding: 12px 0;
}

.nav-responsive li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.nav-responsive li a:hover {
    font-weight: bold;
}

.menu-bg,
#menu {
    top: 10%;
    left: 0;
    position: fixed;
}

.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    background-color: rgb(22, 163, 74);
    transition: 0.3s ease;
}
.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
}

.slide img {
    width: 800px; 
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .05s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;
}

/* Adjust the following selectors */
#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -25%;
}
#radio3:checked ~ .first {
    margin-left: -50%;
}
#radio4:checked ~ .first {
    margin-left: -75%;
}

.navigation-auto div{
border: 2px solid #16A34A;
padding: 5px;
border-radius: 10px;
cursor: pointer;
transition: 1s;
}
.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #FFF;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #FFF;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #FFF;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #FFF;
}

.change {
    display: block;
}

.change .bar {
    background-color: white;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
    width: 520px;
    height: 100vh;
    transform: translate(-60%, -10%);
}

.header-text {
    width: 50%;
    margin: 0 0 0 5%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.header-text h1 {
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 700;
    color: #16A34A;
}

.header-text p {
    width: 50%;
    font-size: 25px;
    font-weight: 200;
    color: #fff;
    margin: 0;
}

.header-text button {
    background-color: transparent;
    width: 20%;
    padding: 10px;
    text-align: center;
    margin-top: 5%;
    border-radius: 5px;
    color: #fff;
    border: 2px solid #16A34A;
    font-size: 15px;
}

.header-text button:hover {
    background-color: #16A34A;
    transform: translateY(-10px);
    transition: .5s;

}

/* fim do estilo do header */

.container2 {
    background-color: #262626;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 8%;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
}

.text-left {
    width: 500px;
}

.text-left h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 70px;
    margin: 0;
    color: #16A34A;
}

.text-left p {
    font-size: 20px;
}

#solution {
    height: 100vh;
    width: 100%;
    background-color: #202020;
}

.container3 {
    display: flex;
    flex-direction: column;
}

.solution-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-items: center;
    margin-bottom: 5%;
}

.solution-text h1 {
    font-size: 70px;
    margin-bottom: 0;
    color: #16A33A;
    text-transform: uppercase;
}

.solution-text p{
    width: 60%;
    color: #FFF;
    font-size: 18px;
}

.cards{
    color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.card{
    width: 250px;
    height: 300px;
}

.card:nth-child(even){
    background-color: #363636;
    margin-top: 30px;
}

.card:nth-child(odd){
    background-color: #16A34A;
}

.card:nth-child(even):hover{
    transform: translateY(-20px);
    transition: .3s;
}

.card:nth-child(odd):hover{
    transform: translateY(20px);
    transition: .3s;
}

.card:hover .card-image{
    transform: rotate(8deg);
    width: 90px;
    transition: .2s;
}

.card-image{
    width: 80px;
    margin: 30px 0 0 40px;
}

.card-text{
    margin: 0 30px 0 30px;
}

.card-text p{
    font-weight: 200;
}

.loading-div {
    width: 50px;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}

#div_erros_login {
    display: none
}

.alerta_erro {
    display: flex;
    justify-content: flex-end;
}

.card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #ED145B 3px solid;
    padding: 10px;
    margin-right: 10%;
}

.card_erro #mensagem_erro {
    font-weight: 500;
    font-size: 20px;
}

.loading-div {
    width: 50px;
    margin: auto;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}

/* Media queries para responsividade */
@media (max-width: 768px) {
    #header {
        background-image: url('../assets/nexus/teste.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #menu {
        display: flex;
    }

    .header-text h1 {
        font-size: 50px;
    }

    .header-text p {
        width: 100%;
        font-size: 20px;
        color: #000;
    }

    .header-text button {
        width: 40%;
    }

    .nav {
        background-color: transparent;
    }

    .nav-login {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 20px;
        gap: 20px;
    }

    .nav-menu,
    .logo {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }

    .container2 h1 {
        font-size: 50px;
    }

    .cotainer2 p {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    #header {
        background-position: bottom;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .nav {
        background-color: transparent;
    }

    .nav-login {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 20px;
        gap: 20px;
    }

    .nav-menu,
    .logo {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }

    .header-text {
        width: 90%;
        margin-left: 5%;
    }

    .header-text h1 {
        font-size: 40px;
    }

    .header-text p {
        color: #000;
        width: 50%;
        font-size: 18px;
    }

    .header-text button {
        width: 30%;
        color: #000;
    }

    .header-text button:hover {
        color: #FFF;
    }

}